.announcement {
    font-family: 'Cedarville Cursive', cursive;
}

html,body
{
    height: 100%;
}
body
{
   display: table;
   margin: 0 auto;
}

.container
{
    height: 100%;
    display: table-cell;
    vertical-align: middle;
}