<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Tripper</title>

    {% load static %}
    <link href="https://fonts.googleapis.com/css?family=Cedarville+Cursive" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="{% static 'css/../static/welcome.css' %}" />

</head>
<body>
<div class="container text-center">
    <h1 class="announcement">Welcome to the world!</h1>
    <h2 class="announcement">Welcome to Tripper. Your new travel app!</h2>
    <br>
    <h3 class="announcement">Made with <3 by C & M</h3>
</div>

</body>
</html>