<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Add your trip</title>


</head>
<body>
    <h1>Trip page</h1>

    <form action="{% url 'add_trip' %}" method="post">
        {% csrf_token %}
        {{ form_trip }}
        <input type="submit" value="Submit" />
    </form>
</body>

<style>


</style>
</html>