<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Map</title>

    {% load static %}
    {#    jQuery #}
    <script src="{% static 'bower_components/jquery/dist/jquery.min.js' %}"></script>

    {#    Leaflet #}
    <link rel="stylesheet" type="text/css" href="{% static 'bower_components/leaflet/dist/leaflet.css' %}"/>
    <script src="{% static 'bower_components/leaflet/dist/leaflet.js' %}"></script>

    {#    Leaflet-geocoding-mapzen #}
    <link rel="stylesheet" type="text/css"
          href="{% static 'bower_components/leaflet-geocoder-mapzen/src/leaflet-geocoder-mapzen.css' %}"/>
    <script src="{% static 'bower_components/leaflet-geocoder-mapzen/src/leaflet-geocoder-mapzen.js' %}"></script>

    <link rel="stylesheet" type="text/css" href="{% static 'main/css/map.css' %}"/>
</head>
<body>
<div id="map"></div>
<div>
    <a href="{% url 'add_spot' %}">Add spot</a>
    <a href="{% url 'add_trip' %}">Add trip</a>
    <a href="#">Past trips</a>
    <a href="#">Explore</a>
</div>
<script src="{% static 'main/js/spot.js' %}"></script>
</body>

</html>